{% extends 'website/base.html' %}
{% block title %}Contact | Tshepo Mongali{% endblock %}
{% load static %}
{% block content %}
<section>
    <h2>Contact Me</h2>
    <p>Email: <a href="mailto:ktmongali@gmail.com">ktmongali@gmail.com</a></p>
    <p>Phone: 071 024 3477</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/tshepo-mongali-82483320b" target="_blank">Tshepo Mongali</a></p>
    

<p> <a href="{% static 'website/files/Tshepo_Mongali_CV.pdf' %}" download>Download My CV (PDF)</a></p>
</section>

{% endblock %}
