{% extends 'website/base.html' %}
{% block title %}Experience | Tshepo Mongali{% endblock %}
{% load static %}
{% block content %}

<h2>Experience</h2>

<div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4">
  <h3 class="text-lg font-semibold text-gray-800 dark:text-white mb-2">
    Data Science Practitioner Learner
  </h3>
  <p class="text-sm font-medium text-gray-500 dark:text-gray-400 mb-2">
  Geeks<span class="text-red-500">4</span>Learning
    </p>
  <h1 class="text-sm font-semibold text-gray-800 dark:text-white mb-2">
    Work Duties / Responsibilities
  </h1>
  
  <ul class="list-disc list-inside space-y-1 text-sm text-gray-600 dark:text-gray-300">
    <li>Collect, clean, and preprocess data using Python and Pandas to ensure data quality and accuracy</li>
    <li>Analyze datasets to identify patterns, trends, and insights that support business decision-making</li>
    <li>Build and evaluate basic machine learning models (e.g. classification models for fraud detection)</li>
    <li>Work with imbalanced datasets and apply appropriate evaluation metrics (ROC, precision-recall, confusion matrix)</li>
    <li>Create data visualizations and dashboards using tools like Power BI, Matplotlib, or Chart.js</li>
    <li>Assist in developing data-driven solutions such as analytics dashboards and reporting tools</li>
    <li>Collaborate with team members to understand business requirements and translate them into data tasks</li>
    <li>Document analysis processes, model results, and insights in a clear and structured manner</li>
    <li>Use Git/GitHub for version control and project collaboration</li>
    <li>Support ongoing projects related to people analytics, fraud detection, and automation</li>
    <li>Continuously learn and apply new data science techniques, tools, and best practices</li>
  </ul>
</div>

{% endblock %}